<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
      .navheader{
        background-color: #b39ddb;
        margin-bottom: 2%;
      }
      #form{
        width: 50%;
        border: 2px solid #e0e0e0 ;
        border-radius: 10px;
        padding: 2%;
      }
      .namelistdiv{
        background-color: #ede7f6;
        padding: 1%;
        border: 2px solid #e0e0e0 ;
        z-index: 1;
      }
      .namelist{
        margin:5%;
        position: relative;
        z-index: 1;
      }
      .floatleft{
        position: relative;
        left: 2%;
      }
      .floatright{
        position: relative;
        left: 40%;
      }
      .details{
        padding:5%;
        width: 100%;
        background-color: #fce4ec;
      }
      .pagebar{
        position: relative;
        left:25%;
      }
      .indetails{
        background-color: #f3e5f5;
        border: 1px solid black;
        padding: 3%;
      }
      .btn{
        z-index: -1;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navheader">
      <span class="navbar-brand mb-0 h1"><%= title %></span>
    </nav>
    <div id="form" class="container">
      <div class="container">
    <form>
      <div class="form-row">
        <div class="col-md-11">
          <input type="text" class="form-control" name="name" id="searchname" placeholder="Search by name">
        </div>
        <div class="col-md-1" style="text-align: center;">
          <i class="fa fa-search fa-2x"></i>
        </div>
      </div>
      </form>



      <div class="namelist">
      <%  if(records.length > 0){ %>
      <% records.forEach(function(row){%>
    
      <div class="namelistdiv" ><%= row.firstname %> <%= row.lastname %> <i class="fa fa-caret-down fa-2x caret" id="<%= row.id %>" style="float: right;"></i></div>
        <div class="details <%= row.id %> card" style="display: hidden;">
          <div class="row" style="display: hidden;">
            <div class="col-md-3">
              <%= row.date.getDate()+1 %>/<%= row.date.getMonth()+1 %>/<%= row.date.getFullYear() %>
            </div>
            <div class="floatright">
              <a href="/edit/<%= row._id %>" class="btn btn-primary">Edit</a>
              <a href="/delete/<%= row._id %>" class="btn btn-danger">Remove</a>
            </div>
          </div>
          <div class="row indetails" style="margin-top: 10%;">
            <div class="col-md-7">
              <%  if(row.email.length > 0){ %>
                <% row.email.forEach(function(item){%>
              <div><i class="fa fa-envelope fa-1x"></i> <span> <%= item %></span></div>
              <% })} %> 
            </div>
            <div class="col-md-5">
              <%  if(row.mobile.length > 0){ %>
                <% row.mobile.forEach(function(item){%>
              <div><i class="fa fa-phone fa-1x"></i> <span> <%= row.mobile %></span></div>
              <% })} %> 
            </div>
          </div>
        </div>
     <% }) %> 
     <% } else {%> 
   
        <div>
          <span>No records Found :(</span>
        </div>
     <% } %>

    
   
    </div>

    <% if (pages > 0) { %>
      <nav aria-label="Page navigation example">
      <ul class="pagination pagebar">
          <% if (current == 1) { %>
              <li class="disabled page-item"><a class="page-link">First</a></li>
          <% } else { %>
              <li><a href="/index/1" class="page-link">First</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
              <li class="disabled page-item"><a>...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                  <li class="active class="page-item""><a class="page-link"><%= i %></a></li>
              <% } else { %>
                  <li><a href="/index/<%= i %>" class="page-link"><%= i %></a></li>
              <% } %>
              <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled page-item" class="page-link"><a>...</a></li>
              <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="disabled page-item" ><a class="page-link">Last</a></li>
          <% } else { %>
              <li><a href="/index/<%= pages %>" class="page-link">Last</a></li>
          <% } %>
      </ul>
    </nav>
      <% } %>


      <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1">
        <a href="/" style="color: black;"><i class="fa fa-plus-circle fa-2x addcontact" ></i></a>
        </div>
      </div>

    </div>
  </div>
  <script>
    var flag=true;
    $(document).ready(function(){
      $('.details').hide();
      $(".caret").click(function(target){
      var x=target.currentTarget.id;
      $('.'+x).slideToggle("slow");
      if(flag){
      $( this ).removeClass( "fa-caret-down" ).addClass( "fa-caret-up");
      console.log("hjk");
      flag=false;
      }
      else{
        $( this ).removeClass( "fa-caret-up" ).addClass( "fa-caret-down" ); 
        console.log("ghjk");
        flag=true;
      }
      });
    });

    
</script>

<script>
  $(function(){
$('#searchname').autocomplete({
source: function(req,res){
  $.ajax({
    url:"autocomplete/",
    dataType:"jsonp",
    type:"GET",
    data:req,
    success: function(data){
      res(data)
    },
    error: function(err){
      console.log("error",err.status);
      console.log(err);
      res(err);
    }
  });
},
minLength:1,
select: function(event,ui){
  if(ui.item){
    $('#searchname').val(ui.item.label);
  }
}
});
  });
  </script> 
</body>
</html>
